[core]
	editor = nvim
	excludesfile = ~/.gitignore
[push]
	default = current
[remote]
	pushDefault = origin
[gpg]
	program = gpg
[alias]
	git = !exec git
	drop = !git checkout . && git clean -df && git checkout - && git branch -D @{-1}
[diff]
	external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	branch = false
	difftool = true
